@import url('https://fonts.googleapis.com/css2?family=Saans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-slate-800;
  background-color: #f9fafe;
  background-image: url('/hero-poster.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
